h1{
    font-size: value in px;

    font-family: serif;

    font-weight: bold;

    font-style: italic;

    text-decoration: underline;

    text-align: center;

    text-indent: value in px;


}